In [ ]:
SELECT kolumna , kolumna FROM tabela

SELECT * FROM Tabela # wysztkie koluny z tabeli

ORDER BY # zmienia kolejnośc sortowania
ASC DESC # rosnaco malejaco


WHERE kolumna='wartosc' # koknkrtena wrtosc z kolumny

DELETE # usuwa całe wiersze
INSERT INTO Product VALUES(9,'Apaszka',35,2,'02.20.2021');
DELETE FROM Product WHERE price >'20';

SELECT*FROM Product;

CREATE TABLE "Product" (
	"id"		SMALLINT UNSIGNED IDENTITY(1,1) NOT NULL,
	"name"		VARCHAR(50) NOT NULL,
	"price"		FLOAT NOT NULL,
	"amount"	TINYINT(2) NOT NULL,
	"date"		DATE NOT NULL,
	PRIMARY KEY("id")
);

In [ ]:
SELECT * FROM customer WHERE name='Katarzyna' AND city='Lublin';
SELECT id,name,price,amount,date FROM product WHERE price>25 OR amount>=5;
SELECT id, name, price FROM Product WHERE name LIKE '%a%'

In [ ]:
SELECT city, count(city) FROM Customer GROUP BY city HAVING count(city)>1;

SELECT product_id, amount, sum(amount) FROM Order_product GROUP BY product_id HAVING sum(amount) in (2,4);