/*SELECT * FROM customer WHERE name='' AND city='';

SELECT id,name,price,amount,date FROM product WHERE price>25 AND amount>=5;

SELECT * FROM customer WHERE name LIKE '%a%';

SELECT id, name, price FROM Product WHERE name LIKE '';

SELECT name,price FROM product WHERE price IN (60,10,25);

SELECT name, price, amount FROM Product WHERE amount in(3,4,5,6);

SELECT name,price FROM product WHERE price BETWEEN 40 AND 60;


SELECT id, name FROM Customer LIMIT 3,2;


SELECT COUNT(name) FROM product;

SELECT sum(id) FROM Product;


SELECT sum(price)FROM Product;

SELECT avg(price)FROM Product; -- AVG srednia


SELECT avg(amount) FROM Product WHERE price >40;


SELECT id,MIN(price) FROM product; --- min minimala ilosc


SELECT DISTINCT city FROM customer;

SELECT count(DISTINCT city) FROM customer;


SELECT id, name,  date FROM Customer WHERE strftime('%m',date)='02';


SELECT name, price, date FROM Product WHERE strftime('%d', date) BETWEEN '01' AND '10';


SELECT date('now');


SELECT JULIANDAY(DATE('now'));


SELECT JULIANDAY('2011-02-10')-JULIANDAY('2011-03-10');
*/

In [ ]:
SELECT author_id,COUNT(title) FROM titles GROUP BY author_id;
SELECT author_id,COUNT(title) FROM titles GROUP BY author_id HAVING COUNT(title)>5;

SELECT city, count(city) FROM Customer GROUP BY city HAVING count(city)>1;